.w33 {
    width: 33%;
    text-align: center;
}

.w100 {
    width: 100%;
    text-align: center;
}

.result {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 10px; /* 任意のマージンを追加 */
    color: black; /* テキストの色が変わっていないか確認 */
    font-size: 16px; /* テキストのフォントサイズを設定 */
    /* 他に非表示にするスタイルがあれば削除 */
}